BasedOnStyle: Google
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakTemplateDeclarations: MultiLine
ColumnLimit: 120
PointerAlignment: Right
SpaceAfterCStyleCast: true
SpaceAfterTemplateKeyword: false
